body{
    margin: 0;
}

.hero{
    height: 30em;
}

#heroImage{
    background-image: url(/img/kayaking.JPG);
    max-width: 100%;
}

.content{
    padding: 4em 10em 4em 10em; 
}

#contact, #projects{
    text-align: center;
}

#projects{
    background-image: linear-gradient(#d8d8d8, white) ;
    margin-top: 1em;
}

#contact{
    background-image: linear-gradient(white, #56A5EC);
}

#projects, #about, #contact, .projects{
    padding: 1em;
}

.footer{
    height: 4em;
    background-color: #56A5EC;
    text-align: center;
}

#about{
    font-size: x-large;
    padding-left: 10em;
}

#myImage{
    max-height: 500px;
    box-shadow: 10px 10px 10px;
}

.projectImages{
    max-height: 300px;
    margin: 1em;
}

.icon{
    max-height: 70px;
}